    <table>
      <tr>
        <th>Deck</th>
        
      </tr>
        <%@decks.each do |deck| %>
          <tr>
            <td><a href="/welcome/<%=deck.name%>"><%=deck.name%></a></td>
          </tr>
        <%end%>
    </table>
